<GameSettings>
	<UniverseSize>2000</UniverseSize>
	<MSPerFrame>17</MSPerFrame>
	<FramesPerShot>80</FramesPerShot>
	<RespawnRate>300</RespawnRate>
	<Mode>basic</Mode>
	<StartingHitpoints>3</StartingHitpoints>
	<ProjectileSpeed>25</ProjectileSpeed>
	<EngineStrength>3</EngineStrength>
	<TankSize>50</TankSize>
	<WallSize>50</WallSize>
	<MaxPowerups>2</MaxPowerups>
	<MaxPowerupDelay>1650</MaxPowerupDelay>


	<!-- top border -->
	<Wall>
		<p1>
			<x>-975</x>
			<y>-975</y>
		</p1>
		<p2>
			<x>975</x>
			<y>-975</y>
		</p2>
	</Wall>

	<!-- left border -->
	<Wall>
		<p2>
			<x>-975</x>
			<y>975</y>
		</p2>
		<p1>
			<x>-975</x>
			<y>-975</y>
		</p1>
	</Wall>

	<!-- right border -->
	<Wall>
		<p1>
			<x>975</x>
			<y>975</y>
		</p1>
		<p2>
			<x>975</x>
			<y>-975</y>
		</p2>
	</Wall>

	<!-- bottom border -->
	<Wall>
		<p1>
			<x>975</x>
			<y>975</y>
		</p1>
		<p2>
			<x>-975</x>
			<y>975</y>
		</p2>
	</Wall>

	<!-- upper left 'L' piece -->
	<Wall>
		<p1>
			<x>-425</x>
			<y>-425</y>
		</p1>
		<p2>
			<x>-275</x>
			<y>-425</y>
		</p2>
	</Wall>

	<Wall>
		<p1>
			<x>-425</x>
			<y>-425</y>
		</p1>
		<p2>
			<x>-425</x>
			<y>-275</y>
		</p2>
	</Wall>


	<!-- upper right 'L' piece -->
	<Wall>
		<p1>
			<x>425</x>
			<y>-425</y>
		</p1>
		<p2>
			<x>275</x>
			<y>-425</y>
		</p2>
	</Wall>

	<Wall>
		<p1>
			<x>425</x>
			<y>-425</y>
		</p1>
		<p2>
			<x>425</x>
			<y>-275</y>
		</p2>
	</Wall>


	<!-- lower right 'L' piece -->
	<Wall>
		<p1>
			<x>425</x>
			<y>425</y>
		</p1>
		<p2>
			<x>275</x>
			<y>425</y>
		</p2>
	</Wall>

	<Wall>
		<p1>
			<x>425</x>
			<y>425</y>
		</p1>
		<p2>
			<x>425</x>
			<y>275</y>
		</p2>
	</Wall>


	<!-- lower left 'L' piece -->
	<Wall>
		<p1>
			<x>-425</x>
			<y>425</y>
		</p1>
		<p2>
			<x>-275</x>
			<y>425</y>
		</p2>
	</Wall>

	<Wall>
		<p1>
			<x>-425</x>
			<y>425</y>
		</p1>
		<p2>
			<x>-425</x>
			<y>275</y>
		</p2>
	</Wall>


	<!-- bottom innermost wall -->
	<Wall>
		<p1>
			<x>-50</x>
			<y>-275</y>
		</p1>
		<p2>
			<x>50</x>
			<y>-275</y>
		</p2>
	</Wall>

	<!-- top innermost wall -->
	<Wall>
		<p1>
			<x>-50</x>
			<y>275</y>
		</p1>
		<p2>
			<x>50</x>
			<y>275</y>
		</p2>
	</Wall>

	<!-- left innermost wall -->
	<Wall>
		<p1>
			<x>-225</x>
			<y>-50</y>
		</p1>
		<p2>
			<x>-225</x>
			<y>50</y>
		</p2>
	</Wall>
	<!-- right innermost wall -->
	<Wall>
		<p1>
			<x>225</x>
			<y>-50</y>
		</p1>
		<p2>
			<x>225</x>
			<y>50</y>
		</p2>
	</Wall>

	<!-- left bunker -->
	<Wall>
		<p1>
			<x>-975</x>
			<y>-200</y>
		</p1>
		<p2>
			<x>-775</x>
			<y>-200</y>
		</p2>
	</Wall>
	<Wall>
		<p1>
			<x>-975</x>
			<y>200</y>
		</p1>
		<p2>
			<x>-775</x>
			<y>200</y>
		</p2>
	</Wall>
	<Wall>
		<p1>
			<x>-775</x>
			<y>200</y>
		</p1>
		<p2>
			<x>-775</x>
			<y>100</y>
		</p2>
	</Wall>
	<Wall>
		<p1>
			<x>-775</x>
			<y>-200</y>
		</p1>
		<p2>
			<x>-775</x>
			<y>-100</y>
		</p2>
	</Wall>

	<!-- right bunker -->
	<Wall>
		<p1>
			<x>975</x>
			<y>-200</y>
		</p1>
		<p2>
			<x>775</x>
			<y>-200</y>
		</p2>
	</Wall>
	<Wall>
		<p1>
			<x>975</x>
			<y>200</y>
		</p1>
		<p2>
			<x>775</x>
			<y>200</y>
		</p2>
	</Wall>
	<Wall>
		<p1>
			<x>775</x>
			<y>200</y>
		</p1>
		<p2>
			<x>775</x>
			<y>100</y>
		</p2>
	</Wall>
	<Wall>
		<p1>
			<x>775</x>
			<y>-200</y>
		</p1>
		<p2>
			<x>775</x>
			<y>-100</y>
		</p2>
	</Wall>

</GameSettings>